<div class="row">
    <div class="col-6">
        <app-dona title="Ventas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [labels]="labels1" [data]="data1" title="Compras"></app-dona>
    </div>

    <div class="row">
        <div class="col-6">
            <app-dona title="Cambios"></app-dona>
        </div>
        <div class="col-6">
            <app-dona title="Compras2"></app-dona>
        </div>v
    </div>


    <!-- <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>Sales</h3>
                <div style="display: block">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
                    </canvas>
                </div>

            </div>
        </div>
    </div> -->
</div>